/* line 2, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/elements/group.scss */
.grp {
  clear: both;
  margin-left: -2rem;
  margin-right: -2rem; }
  /* line 8, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/elements/group.scss */
  .grp > div, .grp > ul {
    display: table;
    width: 100%;
    border-spacing: 2rem 0;
    table-layout: fixed; }
  /* line 15, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/elements/group.scss */
  .grp > div > div, .grp > ul > li {
    vertical-align: top;
    position: relative;
    display: table-cell; }

/* line 6, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
html,
body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: 'Arial'; }

/* line 14, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
body {
  background-color: white; }

/* line 19, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
a {
  text-decoration: none; }

/* line 23, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
main {
  position: relative; }

/* line 27, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
header,
footer {
  z-index: 1;
  padding: 2rem;
  box-sizing: border-box; }

/* line 36, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
header h1 {
  font-size: 3rem;
  margin-bottom: 3rem; }

/* line 40, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
header h2 {
  padding: 0;
  font-weight: bold;
  color: #59A47E; }

/* line 47, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
h1 {
  font-size: 1.5rem;
  margin: 0 0 4rem; }

/* line 52, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
h2 {
  padding: 1.2rem;
  margin: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-size: 1.2rem; }

/* line 60, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
text.sub {
  font-weight: normal; }

/* line 66, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
.o-box {
  position: absolute;
  z-index: 100; }
  /* line 69, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  .o-box h1 {
    white-space: nowrap; }
  /* line 73, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  .o-box.right- h1 {
    float: right; }

/* line 79, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
.box {
  background-color: #59A47E;
  margin-bottom: 1rem;
  width: 100%;
  position: relative; }
  /* line 84, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  .box > ._ {
    color: white;
    box-sizing: border-box; }
  /* line 89, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  .box.small- > ._ {
    color: #59A47E;
    display: table;
    bottom: 0; }
    /* line 93, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
    .box.small- > ._ h2 {
      display: table-cell;
      padding: 0; }
  /* line 100, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  .left- .box.small- > ._ {
    padding-left: 100%;
    position: absolute;
    left: 0; }
    /* line 104, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
    .left- .box.small- > ._ h2 {
      padding-left: 0.8rem; }
  /* line 110, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  .right- .box.small- > ._ {
    padding-right: 100%;
    position: absolute;
    right: 0; }
    /* line 114, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
    .right- .box.small- > ._ h2 {
      padding-right: 0.8rem; }

/* line 121, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
.days,
.hours {
  white-space: nowrap; }

/* line 127, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
.box:after,
.cf:after {
  content: "";
  display: table;
  clear: both; }

/* line 134, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
footer {
  background: #59A47E; }

/* line 138, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
#hd-magpie {
  width: 1.5rem; }
  /* line 140, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  #hd-magpie img {
    opacity: 0.25;
    height: 1.5rem;
    width: 1.5rem; }
  /* line 145, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  #hd-magpie .icon {
    font-size: 1.5rem; }

/* line 150, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
.icon {
  color: #59A47E; }

/* line 154, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
#ft-magpie {
  display: block; }
  /* line 156, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  #ft-magpie:after {
    content: "";
    display: table;
    clear: both; }
  /* line 161, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  #ft-magpie ul {
    float: right;
    padding: 0 0 0.5rem;
    height: 1.5rem;
    display: inline-block;
    list-style-type: none; }
    /* line 167, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
    #ft-magpie ul li {
      display: inline-block;
      padding-left: 2rem; }
  /* line 172, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
  #ft-magpie img {
    height: 1.5rem;
    display: block; }

/* line 178, /Users/robertstarbuck/Sites/how-long-to-watch-01/styles/style.scss */
.of0 {
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */